.about {
  background: var(--bg-secondary);
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  align-items: center;
}

.about-text p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.profile-image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: 
    /* linear-gradient(135deg, #667eea 0%, #764ba2 100%), */ url("/public/images/profileV2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
  margin: 0 auto;
}
